In [1]:
import requests
import pandas as pd
import numpy as np

access_key = "24cadd12-2a4c-4e65-a853-824b5dcc2510"

token_url = "https://www.ura.gov.sg/uraDataService/insertNewToken.action"
token = requests.post(token_url,headers={"AccessKey": access_key,'User-Agent': 'Mozilla/5.0'}).json()['Result']

In [15]:
url = "https://www.ura.gov.sg/uraDataService/invokeUraDS?service=Planning_Decision"
data = requests.post(url,headers={"AccessKey":access_key, "token":token, "User-Agent":"Mozilla/5.0"},params={"year":1990}).json()['Result']
df = pd.DataFrame(data)
df

Empty DataFrame
Columns: []
Index: []

In [6]:
from api_center import URA
api = URA('/Users/nathaniel/ura_accesskey.txt')

In [7]:
df = api.load("private pipeline")

In [9]:
dbc.append(df,"ura_test")

Data appended to table ura_test

In [28]:
url = "https://www.ura.gov.sg/uraDataService/invokeUraDS?service=PMI_Resi_Pipeline"
data = requests.post(url,headers={"AccessKey":access_key, "token":token, "User-Agent":"Mozilla/5.0"}).json()['Result']

In [30]:
df = pd.DataFrame(data)
df

,noOfApartment,expectedTOPYear,noOfSemiDetached,street,district,project,noOfDetachedHouse,noOfTerrace,noOfCondo,developerName,totalUnits
0,453,na,0,Anson Road,02,Newport Residences,0,0,0,Hong Leong Properties Pte Ltd,453
1,372,na,0,Ang Mo Kio Rise,20,AMO Residence,0,0,0,United Venture Development (2021) Pte Ltd,372
2,407,na,0,Northumberland Road,08,Piccadilly Grand,0,0,0,Maximus Residential SG Pte Ltd/Maximus Commerc...,407
3,215,na,0,Shenton Way,01,Residential apartments,0,0,0,Perennial Shenton Property Pte Ltd,215
4,0,na,0,Tengah Garden Walk,24,Copen Grand,0,0,0,Taurus Properties SG Pte Ltd,639
...,...,...,...,...,...,...,...,...,...,...,...
84,540,na,0,Irwell Hill,09,Irwell Hill Residences,0,0,0,CDL Perseus Pte Ltd,540
85,487,na,0,Pasir Ris Drive 8/Pasir Ris Drive 3/Pasir Ris ...,18,Pasir Ris 8,0,0,0,Phoenix Residential Pte Ltd/Phoenix Commercial...,487
86,0,na,0,Canberra Drive,27,The Commodore,0,0,219,JBE (Canberra) Pte Ltd,219
87,268,na,0,New Upper Changi Road/Tanah Merah Kechil Link,16,Sceneca Residence,0,0,0,MCC Land (TMK) Pte Ltd,268
88,0,2027,0,Yishun Close,27,North Gaia,0,0,0,Sing Holdings (Yishun) Pte Ltd,616

In [31]:
ref = "22q2"

In [35]:
ref[1] = "1"

TypeError: 'str' object does not support item assignment

In [41]:
refPeriod = ['22','q','2']
refPeriod[0] = str(int(refPeriod[0])-1)
refPeriod

['21', 'q', '2']